
.ukrstyle {
    font-family: 'M PLUS 1', sans-serif;
    font-size: 3em;
    font-weight: 400;
    text-align: center;
    letter-spacing: 10px;
    margin: 20px;
}

.blue-header {
    color:  #3E45E8;
}
.yellow-header {
    color: #E8C23E;
}
.great {
    background-image: url("../image/image 1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow:auto;
    min-width: 1440px;
    min-height:803px;
}

.motherland {
    font-family: 'Inika', sans-serif;
    font-weight: bold;
    font-size: 3em;
    color: white;
    padding: 200px 100px 200px 30px;
    margin-left:100px;
    float:left;
    position:absolute;
}

.blue-block {
    width: 22px;
    height: 136px;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #1E8DF2;
}
.yellow-block {
    width: 22px;
    height: 136px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #FBE201;

}

.flag {
    padding: 200px  0px 0px 80px;
    margin-bottom: 200px;
    float: left; 
    width: 30px;
}

.ukrstyle {
    font-family: 'Marcellus', sans-serif;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 10px;
    margin: 20px;
}

.headers {
    font-family: 'Inika', sans-serif;
    font-size: 3em;
    margin: 75px 0px 25px 0px;
    }
.blue-line {
    width: 402px;
    border: 5px solid  #3E45E8;
    color: #3E45E8;
}

.unbelievable{
    margin: 5%;
}

.beautiful-corners {
    display:flex;
    flex-wrap: wrap;
    gap: 5%;
    margin-top: 25px;
}

.card{
    width:30%;
    background: #FFFFFF;
    box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding-bottom: 5%;
    position:relative;
}

.card img {
    width: 100%;
    
    position:relative;
}
.text {
    float: left;
    position:relative;
    z-index: 2;
}

.hand {
    float: right; 
    z-index: 1;
    position: relative;
}
.blue {
    font-family: 'Inika', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: #1E8DF2;
    margin: 13px 0px 13px 13px;
}

.yellow {
    font-family: 'Inika', sans-serif;
    font-size: 1.25em;
    color: #E8C23E;
    margin-left: 13px;
}
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.map {
margin-top: 2.5em;
}

.box {
    
    background-color: #2A61F0;
    width: 591px;
    height: 121px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right:auto;
    margin-top:2%;
}

.help {
    font: bold 4em 'Inika', sans-serif;
    color: #FFFFFF;
    text-align:center;
    padding-top: 2%;
}
footer {
    background: #2F4A4B;
    padding:auto;

}

.contact {
    font-family: 'Marcellus SC';
    color: #A89D9D;
    font-size: 2.25em;
    letter-spacing: 0.1em;
    text-align: center;
}
.badge {
    display: flex;
    justify-content: center;
    padding: 0.5em;
}

a {
    text-decoration: none;
    color:white;
}
