@media screen and (min-width:576px) and (max-width: 768px) {
    section{
        width: 70%;
        margin: 0 auto;
        font-size: 10px;
    }
    img ~ ul li {
        padding-bottom: 0em;
    }

}

@media screen and (min-width:768px) and (max-width: 992px){
    section{
        width: 100%;
        margin: 0 auto;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

html {
    font-size: 14px;

}

body {
    margin: 0;
}

.orange {
    position: relative;
    background: #FFB084;
    border-radius: 20px;
    font-family: 'Work Sans', sans-serif;
    padding:2em 3em;
    box-sizing: border-box;
    margin:0 auto;
    max-width: 50%;
    min-width: 800px;


}



section {
    display:grid;
    grid-template-columns: 3fr 2fr 2fr;
    grid-gap: 25px;
    grid-template-rows:  minmax(60px 1fr) 60px 150px 60px 20px 80px;
    justify-items: stretch;
    align-items: stretch;
    box-sizing: border-box;


}

section div {
    background-color:  #FFFFFF;
    border: none;
    padding: 0.3em 1em 0.5em 1.5em;
    color: #000000;
    font-size: 18px;
    transition: all .7s;
    border-radius: 20px;
    overflow: hidden;

}


section div:hover {
    transform: scale(1.1);
}

section div:nth-child(1) {
    grid-column: 1;
    grid-row: 1/6;
    
}

section div:nth-child(2) {
    grid-column: 1;
    grid-row: 6;
    text-align: center;
}


section div:nth-child(3) {
    grid-column: 2/4;
    grid-row: 1/3;
}

section div:nth-child(5) {
    grid-column: 2;
    grid-row: 4/7;
}

section div:nth-child(6) {
    grid-column: 3;
    grid-row: 3/5;
}

section div:nth-child(7) {
    grid-column: 3;
    grid-row: 5/7;
}



h1 {
    font-size: 2em;
    text-align: center;

}

h3 {
    padding:0;
    margin-bottom: -0.5em;
}

img ~ ul {
    display:flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
    list-style: none;
    flex-wrap: wrap;
    margin:0;
    padding: 0;

}

img {
    display:block;
    margin:0 auto;


}

img ~ ul li {
    display: block;
    padding-bottom:1em;
    
}

ul {
    padding-top:0;
    margin-top: 0;

}

.pre {
    white-space: pre;
}

.red h3 {
    color:rgb(255, 0, 0);

}

.red {
    box-shadow: 7px 7px 0px red;
}

.blue h3 {
    color: #3675B0;

}

.blue {
    box-shadow: 7px 7px 0px hsl(209, 53%, 45%);

}

.green h3 {
    color: #29A71E;

}


.green {
    box-shadow: 7px 7px 0px #29A71E;
}

.black {
    box-shadow: 7px 7px 0px rgb(7, 0, 0);
}
