html {
    font: size 16px;
}

body {
    background: #212529;
    margin:0;
}

header {
  height: auto;
  background: #212529;
  display: flex;
  justify-content:space-between;
  padding: 1em 2em;
  margin:0;
}


.list {
    box-sizing: content-box;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items:center;
    width: 20%;
    text-transform: capitalize;
}

.list li {
    display:block;
    padding: 1em;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    
}

.list li a {
    color: #FFFFFF;
    text-decoration: none;
}

.list li a:visited {
    color: #FFB742; 
}

header .list li:hover {
    color: #FFB742;

}


button {
    display:block;
    position: relative;
    box-sizing: border-box;
    background: #FFB742;
    font-family: 'Poppins';
    color: #212529;
    font-size: 1.2rem;
    font-weight: 900;
    text-align: center;
    border-radius: 100px;
    cursor: pointer;
    padding: 1rem 1.5rem;
    transition: 0.2s;
    margin:auto;
    border:none;

}


header:nth-child(3) {
    margin:auto;
}


main {
    background: #212529;
    padding:2em;
}


.about {
    text-align: center;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 400;
}



section:nth-of-type(1) p:nth-of-type(2) {
    font-size: 3rem;
    text-transform: capitalize;
    
}


.kartik {
    color: #FFB742;
}

.image {
    width:fit-content;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10em;
    border: none;


}

.achievements {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap:wrap;
    margin-bottom: 17em;

}

.block {
    display:flex;
    box-sizing: border-box;
    flex-direction:row;
    justify-content: space-around;
    height:fit-content;
    padding: 2em;
    width: 30%;
    background: #292B2E;
    flex-wrap:wrap;
    align-items: center;
    position: relative;
    border-radius: 10px;
    transition:all 1s;
    
}

.logo {
    display:block;
    position: relative;
    box-sizing: border-box;
    background: #E9E9E9;
    border-radius: 50%;
    padding: 1em;

}

.number {

    text-align: center;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 3em;
    color: #FFB742
    
}

.name {
    text-align: center;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #FFFFFF;

}

.block:hover {
    background: #FFB742;
    color: #212529;
}

.block:hover .name {
    color: #212529;

}

.block:hover .number {
    color: #212529;

}

body section:nth-of-type(2) {
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    flex-wrap:wrap;

}

.me {
    height: auto;
    display:flex;
    align-items:flex-start;
    flex-direction: column;
    column-gap: 4em;
    margin-left: 4em;
    flex: 1;
}

.btn {
    display:block;
    position: relative;
    box-sizing:border-box;
    max-width:fit-content;
    font-family: 'Poppins';
    color: #FFB742;
    font-size: 1.25em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border-radius: 100px;
    cursor: pointer;
    padding: 0.5em 1.5em;
    border:none;
    background: rgba(255, 255, 255, 0.08);

}

.heading {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 3em;
    text-transform: capitalize;
    color: #FFFFFF;

}

.text {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1em;
    color: #D5D5D5;
    padding: 2em 0em;
}

section:nth-of-type(3) {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap:nowrap;
    margin-bottom:14em;

}

section:nth-of-type(3) div:first-of-type {
    flex-basis:80%;
}


section:nth-of-type(3) ul {
    display:flex;
    flex-direction: row;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    margin-left: 2em;
}

section:nth-of-type(3) ul>li {
    list-style: none;
    background: #383E45;
    margin:1em;
    padding:1em;
    border-radius: 10px;
    
}

section:nth-of-type(3) ul>li:hover {
    background:#FFB74280;
}

section:nth-of-type(3) ul>li::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: url('../img/logos.png');
    background-position: 50%;
    
}

section:nth-of-type(3) ul>li:nth-child(1)::before {
    background-position: -25px -3px;  
}

section:nth-of-type(3) ul>li:nth-child(2)::before {
    background-position: -100px -5px;
}

section:nth-of-type(3) ul>li:nth-child(3)::before {
    background-position: -205px -8px;
}

section:nth-of-type(3) ul>li:nth-child(4)::before {
    background-position: -300px -7px;
}

section:nth-of-type(3) ul>li:nth-child(5)::before {
    background-position: -389px -9px;
}

section:nth-of-type(3) ul>li:nth-child(6)::before {
    background-position: -475px -8px;
}

section:nth-of-type(3) ul>li:nth-child(7)::before {
    background-position: -14px -87px;
}

section:nth-of-type(3) ul>li:nth-child(8)::before {
    background-position: -116px -90px;
}

section:nth-of-type(3) ul>li:nth-child(9)::before {
    background-position: -203px -85px;
}

section:nth-of-type(3) ul>li:nth-child(10)::before {
    background-position: -305px -94px;
}

section:nth-of-type(3) ul>li:nth-child(11)::before {
    background-position: -388px -90px;
}

section:nth-of-type(3) ul>li:nth-child(12)::before {
    background-position: -470px -94px;
}

section:nth-of-type(4) {
    margin-bottom: 10em;
}

section:nth-of-type(4) .works, .list  {
    margin: 0 auto;
    width:fit-content;
}

section:nth-of-type(4) .btn {
    margin: 0 auto;

}

section:nth-of-type(4) .list li:hover {
    background-color: #FFB742;

}


.screenshot {
  display:flex;
  box-sizing: border-box;
  flex-direction:row;
  justify-content: center;
  height:fit-content;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2em;
}

.screenshot div {
  margin: 1em;
}

.screenshot img {
    transition: all 1s ease-out;

}

.screenshot img:hover {
    transform: scale(1.5);
}

section:nth-of-type(5) {
    margin-bottom:15em;
}

section:nth-of-type(5) .works  {
    margin: 0 auto;
    width:fit-content;
    margin-bottom:3em;
}

section:nth-of-type(5) .btn {
    margin: 0 auto;
}


section:nth-of-type(5) ul {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding:0;
    margin: 0;
    
}

section:nth-of-type(5) ul li {
    content: "";
    display: block;
    list-style: none;
    background-image: url('../img/Vector Star.svg');
    background-repeat: no-repeat;
    width:20px;
    height:20px;

}
section:nth-of-type(5) ul>li {
    list-style: none;
}

.response {
    display:flex;
    box-sizing: border-box;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
}

.comment {
    display:flex;
    box-sizing: content-box;
    width:25%;
    height:150%;
    flex-direction:column;
    justify-content:flex-start;
    align-items: flex-start;
    padding: 2em;
    margin:1em;
    background: #FFFFFF;
    border-radius: 8px;
}

.comment p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    }

.person {
    display:flex;
    box-sizing: border-box;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin: 1em 0;
}


.info {
    padding-left: 1em;
   
}


.info span:first-of-type {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    color: #000000;

}

.info span:nth-of-type(2) {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1em;
    color: #000000;
}



footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Work Sans';
    padding: 8em 1em;
    background-color: #1C1C1C;
    
}

.designer {
    font-weight: 600;
    font-size: 16px;
    color: #D4D4D4;

}
  
.f1 {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-left: 2em;
    padding: 1em;
  }

h3 {
    display: block;
    font-weight: 700;
    font-size: 22px;
    color: #F5FBF2;

}

footer ul li {
    display: block;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    color: #7B7B7B;
    text-align: left;
    position:relative;
    right:2em;
    padding-bottom:1em;

}

  
