
html {
    margin:0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:xx-large;

}

body {
  text-align: center;
  margin:0px;
}

  header  {
    
    padding:40px;
    background-color: rgb(52, 13, 151);
    color: #fff;
  }

  main {
   
    
    background-color: rgb(207, 22, 164);
    color: #fff;
    padding:40px;
  }

   footer {
    
   
    background-color: rgb(152, 25, 25);
    color: #fff;
    padding:40px;
  }

  div {
    
    
    background-color: rgb(17, 191, 26);
    color: #fff;
    padding:40px;
    margin-bottom: 30px;
  }

  #app {
    margin:0 auto;
    width:50%;
    border-radius: 30px;
  }

  br {
    margin:0;
    padding:0;
  }