@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inika&family=Volkhov&display=swap');


html {
    font-size: 16px;
    font-family: 'Rosario', sans-serif;

}


body {
    margin:0;
}

section {
    font-size: 1em;
    height: 100vh;
    box-sizing: content-box;
    

}

.sticky{
    position: sticky;
    top:0;
    background: black;
    overflow:auto;
    font-style: italic;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 8em;
    z-index: 2;
}
.sticky ul{
    margin: auto 0;
    display: inline-flex;
    align-self:center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.sticky li{
    list-style: none;
    font-size: 2.25em;
    padding: 1.5rem;
    cursor: pointer;
}

.sticky li a {
    text-decoration: none;
    color: #FFFCFC;
}

.sticky img {
    display: block;
    background: white;

}



.client_block {
    display:flex;
    flex-flow:row nowrap;
    justify-items: space-around;
    justify-content: space-around;
    padding:4em 0em;
    margin:auto;
    z-index: 1;
    gap: 0.5%;
    max-width: fit-content;
    overflow: hidden;
}

.client_block img{
    max-width: 100%;
}

.client_block .boy {
    margin: auto 0;
 }

  


.client_block .man1, .man2_smiles {
    margin-bottom: 2em;
}

.client_block .man1, .guy {
    
    transform: translateX(-2vw);
    transition: all 1s linear;
    opacity:0;
}

#gallery:hover .man1, #gallery:hover .guy {
    transform: translateX(0vw);
    opacity:1;
    
}


.client_block .man2, .man2_smiles {
    
    transform: translateX(2vw);
    transition: all 1s linear;
    opacity:0;
}

#gallery:hover .man2, #gallery:hover .man2_smiles {
    transform: translateX(0vw);
    opacity:1;
    
}


.client_block .boy.one{
    opacity:0;
    transition:all 1s linear;
    transition-delay: 1s;
    transform: translateX(-2vw);
}

#gallery:hover .boy.one {
    opacity:1;
    transform: translateX(0vw);

}

.client_block .boy.two{
    opacity:0;
    transition:all 1s linear;
    transition-delay: 1s;
    transform: translateX(2vw);
}


#gallery:hover .boy.two {
    opacity:1;
    transform: translateX(0vw);
    
}

.client_block .break {
    display:none;

}
.client_block #right {
    margin-right:1%
}
.client_block #left {
    margin-left:1%
}





.service_block {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    align-content:center;
    box-sizing: border-box;
    margin-top: -6em;
    gap: 6em;
    padding-bottom: 2rem;
    height: 120%;
    
    
    
}




.service_block .scissors {
    max-width: 100%;
    margin-top: -3em;
    overflow: hidden;
    margin-bottom: 3em;
    margin-left: 4em;
}


.service_block2 {
    display:flex;
    flex-direction:column;
    justify-content: center;
    justify-items: center;
    flex-wrap:nowrap;
    margin:-1em auto 6em 0em;
    padding:3em 0em;
    width:50%;
    max-height: min-content;
    animation: clockwise 20s linear 4s infinite normal none;
    
    
}

.service_block .row {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: center;
    justify-items: center;
    max-height: min-content;
    
    
}




@keyframes clockwise {
     from {
         transform: rotate(0deg);
         } to 
         { transform: rotate(360deg);
         }   
        }



.service_block2 div {
    margin:1em;
    padding-left:4em;
    
}




    
.service_block2 div img {
    margin:0;
    padding:0;
}

 

.service_block2 p {
    font-style: italic;
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    color: #000000;
    padding:0;
    margin: 0;
    
}



.service_block2 .styling {
    animation-name: clockwise1, rot;
    animation-duration: 15s, 20s;
    animation-timing-function: ease, linear;
    animation-delay:2s, 4s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-fill-mode: none;
    
}

.service_block2 .trimming {

    animation-name: clockwise2, rot;
    animation-duration: 15s, 20s;
    animation-timing-function: ease, linear;
    animation-delay:2s, 4s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-fill-mode: none;

}


.service_block2 .shave {
    animation-name: clockwise3, rot;
    animation-duration: 15s, 20s;
    animation-timing-function: ease, linear;
    animation-delay:2s, 4s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-fill-mode: none;

    
}  



.service_block2 .straightening {
    animation-name: clockwise4, rot;
    animation-duration: 15s, 20s;
    animation-timing-function: ease, linear;
    animation-delay:2s, 4s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-fill-mode: none;

}


@keyframes rot {
    from {
        transform: rotate(0deg);
        } to 
        { transform: rotate(-360deg);
        }   
}


@keyframes clockwise1 {
          from,
             to {
                
                order:1; 
            }

            25% {
                order:2;
                
            }

            50% {
                
                order:3;
               
            }

            75% {
                
                order:4;
                

        }
    }

@keyframes clockwise2 {
            from,
               to {
                  
                  order:2; 
              }
  
              25% {
                  order:3;
              }
  
              50% {
                  order:4;
              }
  
              75% {
                  order:1;
              }
  
          }

@keyframes clockwise3 {
            from,
               to {
                  
                  order:3; 
              }
  
              25% {
                  order:4;
              }
  
              50% {
                  order:1;
              }
  
              75% {
                  order:2;
              }
  
          }
@keyframes clockwise4 {
            from,
               to {
                  
                  order:4; 
              }
  
              25% {
                  order:1;
              }
  
              50% {
                  order:2;
              }
  
              75% {
                  order:3;
              }
  
          }


#team h1 {
    font-size: 6em;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin:3rem 0;
    width:100%;

}

.staff_block {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items:space-between;
    flex-wrap:nowrap;
    margin-bottom: 3rem;
    gap: 0.5%;
    box-sizing: content-box;
    padding-bottom: 1.5rem;
    


}


.staff_block:hover .card {
    opacity: .5;
    z-index: 1;
    
}

.staff_block .card:hover {
    opacity: 1;

}

.staff_block .card {
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    height: 677px;
    /*max-block-size: 90%;*/
    
    
}


.staff_block .meredith {
    background-image: url('../img/Rectangle 8.png');
    width: 404px;
    
}



.staff_block .jason {

    background-image: url('../img/Rectangle 12.png');
    width: 392px;
    
}

.staff_block .ryan {

    background-image: url('../img/Rectangle 13.png');
    width: 400px;
    
}


.staff_block .james {
    background-image: url('../img/Rectangle 9.png');
    width: 396px;
    
}

.staff_block .card:hover::after{
    content:'';
    background: rgba(163, 83, 10, 0.7);
    font-family: 'Volkhov', serif;
    font-weight: 400;
    font-size: 48px;
    padding-top: 9%;
    padding-bottom: 9%;
    text-align: center;
    max-width: 100%;
    display: inline-block;
    color: #FFFAFA;
    z-index: 2;
    width: 100%;
    position: relative;
    top:80%;
    border-radius: 0 0 40px 40px;
}

.staff_block .meredith:hover::after{
    content:'Meredith';
}

.staff_block .jason:hover::after{
    content:'Jason';
    padding-top: 9.5%;
    padding-bottom: 9.5%;
}

.staff_block .ryan:hover::after{
    content:'Ryan';
}

.staff_block .james:hover::after{
    content:'James';
    padding-top: 9.2%;
    padding-bottom: 9.2%;
}

.staff_block .break {
    display:none;
}

.contact_block {
    padding:2rem 9rem;
    
    

}





.contact_block {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}

.contact_block h2 {
    font-size: 4em;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    margin: 0 0 1rem 0;
    padding:0;
   

}

.message {
    width:50%;
    box-sizing: border-box;
}


.contact_block .form {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #E5E5E5;
    box-sizing: border-box;
    width:fit-content;
    height: 25em;
    padding: 2em;
    margin-right:2em;
    gap: 2em;
    

}

.contact_block input[type="text"], input[type="email"] {
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.5);
    font-size: 2.25em;
    font-weight: 400;
    text-align: left;
    margin:0em;
    border: none;
    
    
}

.contact_block input[type="text"]:not(#one){
    padding:0em 0em 17% 0.3em;
    width:100%;
    

}

.contact_block input[type="text"]:not(#three),input[type="email"] {
   width:calc(100%/2 - 0.5em);
   box-sizing: border-box;
   padding:0.3em;
    
    

}


.contact_block .map {
    padding:0;
    margin-top:3em;
}


.footer {
    display:flex;
    flex-flow: row wrap;
    font-style: italic;
    justify-items: space-around;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    padding-top: 3em;
    flex-grow: 2;
}


.footer h5 {
    font-size: 2.25em;
    margin:0 0 2rem 0;
    padding:0;

}



.footer p, .footer ul, h6 {
    font-size: 2rem;
    margin:0;
    padding:0;

}

.footer ul {
    font-size: 2rem;
    list-style: none;
    text-align: left;
}

.footer ul span {
    margin: 0.5em;
}


.footer span, h5, h6 {

    font-style:normal;
    font-weight: 700;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color:black;

}

.footer:first-child p {

    margin:auto 0;
}













@media screen and (min-width:0px) and (max-width: 768px) {

    #gallery {
        font-size: 1em;
        height:max-content;

        
    
    }
    .sticky {
        height: fit-content;
        
    }
    
    .sticky li {
        font-size: 1em;
    }


    .client_block {
        
        display:flex;
        flex-flow:column wrap;
        justify-items: center;
        justify-content: center;
        align-content: center;
        align-items: center;
        gap:2em;
        padding:1em auto;
        
        
        
    }



    .client_block .boy {
        margin: 0;
        
     }

    

    .client_block .boy.one{
        opacity:0;
        transition:all 1s linear;
        transition-delay: 0s;
        transform: translateX(-5vw);
        
       
    }
    
    #gallery:hover .boy.one {
        opacity:1;
        transform: translateX(0vw);
    
    }

    .client_block .man1 {
        opacity:0;
        transition:all 1s linear;
        transition-delay: 0.8s;
        transform: translateX(5vw);
       
        
    }

    #gallery:hover .man1 {
        opacity:1;
        transform: translateX(0vw);
            
    }
    

    .client_block .guy {
        opacity:0;
        transition:all 1s linear;
        transition-delay: 1.6s;
        transform: translateX(-5vw); 
        
        
    }

    #gallery:hover .guy {
        opacity:1;
        transform: translateX(0vw);
            
    }
    .client_block .man2_smiles {
        opacity:0;
        transition:all 1s linear;
        transition-delay: 2.4s;
        transform: translateX(5vw); 

    }

    #gallery:hover .man2_smiles {
        opacity:1;
        transform: translateX(0vw);
            
    }
    
    .client_block .man2 {
        opacity:0;
        transition:all 1s linear;
        transition-delay: 3.2s;
        transform: translateX(-5vw);    
    }

    #gallery:hover .man2 {
        opacity:1;
        transform: translateX(0vw);
            
    }

    .client_block .boy.two{
        opacity:0;
        transition:all 1s linear;
        transition-delay: 4s;
        transform: translateX(5vw);
    }
    
    #gallery:hover .boy.two {
        opacity:1;
        transform: translateX(0vw);
    
    }


    #services {
        
        height:max-content;

    }

    .service_block> img {
        display:none;

    }

    .service_block {
        display:flex;
        margin:0em;
        padding:0em;
        overflow:hidden;
        overflow: hidden;
        
    }
    
    .service_block2 {
        margin:auto;
        padding:0.5em 0em;
        

    }
    .service_block2  {
        max-block-size: 50%;
    }
   

    .service_block .scissors {
        display: none;

    }
    

    
    
    #team {
        
        height:max-content;
    
    }

    .staff_block {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        justify-items:space-between;
        align-items: center;
        gap: 4rem;
        margin-bottom: 1rem;
       
    
    
    }
    
    .staff_block.card {
        padding-bottom:3rem;
    }
    
    .staff_block .card:hover::after {
        content:none;
    }

    
    .staff_block .card:active::after {
        content:'';
        background: rgba(163, 83, 10, 0.7);
        font-family: 'Volkhov', serif;
        font-weight: 400;
        font-size: 48px;
        padding-top: 9%;
        padding-bottom: 9%;
        text-align: center;
        max-width: 100%;
        display: inline-block;
        color: #FFFAFA;
        z-index: 2;
        width: 100%;
        position: relative;
        top:80%;
        border-radius: 0 0 40px 40px;
        animation: appear 4s ease-out 0s infinite normal none;

    }

    

    @keyframes appear {
     from {
         opacity: 0;
         } to 
         { 
            opacity: 1;
         }   
        }

    

    
    .staff_block .meredith:active::after{
        content:'Meredith';
        
    }
    
    .staff_block .jason:active::after{
        content:'Jason';
        padding-top: 9.5%;
        padding-bottom: 9.5%;
    }
    
    .staff_block .ryan:active::after{
        content:'Ryan';
    }
    
    .staff_block .james:active::after{
        content:'James';
        padding-top: 9.2%;
        padding-bottom: 9.2%;
    }


    .contact_block {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        gap:2rem;
        margin: 0;
        padding:0;
    
    }

    .contact_block .message {
        order: 2;
        width:100%;
       
        opacity: 0;
        transition: all 2s ease 2s;
    }

    .contact_block .form {
        width:100%;
        margin: 0 auto;

    }

   
    #contact:hover .message{
        opacity:1;
    }

    .contact_block .map {
        
        opacity:0;
        order: 1;
        transition: all 2s ease 1s;
    }

    iframe {
        max-width: 100%;


    }

    #contact:hover .map{
        opacity:1;
    }



    .contact_block input[type="text"],input[type="email"] {
        font-size: 1.5em;
    }
    .contact_block .form {
        gap: 1.3em;
    
    }

    .footer {
        opacity:0;
        order: 3;
        transition: all 2s ease 3s;
    }

    #contact:hover .footer{
        opacity:1;
    }

 

}

@media screen and (min-width:768px) and (max-width: 1620px){
    
   


    .client_block,.service_block,.staff_block,.contact_block {
        margin-left: 0;
        margin-right:0;
    }


    .sticky li {
        font-size: 24px;
    }

    .sticky {
        height:fit-content;
    }


    #gallery {
        height: max-content;

    }

    .client_block {
        display:flex;
        flex-flow:row wrap;
        justify-items:center;
        justify-content: center;
        padding:4em 0em;
        margin-top:-1rem;
        z-index: 1;
        height:max-content;
        gap: 0.5%;
        margin: 0 auto;
        
    }


   .client_block img {
    max-width:100%;


   }

   

    .client_block .boy.two {
        order:2;

    }
    .client_block .boy.one {
        order:1;
        
    }

    .client_block #left {
        order:4;

    }
    .client_block #right {
        order:5;

    }

    

    .client_block .break {
        display: block;
        height:0;
        width: 100%;
        order:3;
    }
  
  
    .client_block  #left, #right {
          display:flex;
          flex-direction: row;
          justify-items: space-between;
          gap: 0.5%;
  
      }


    

    .client_block .boy.one{
        opacity:0;
        transition:all 1s linear;
        transition-delay: 0s;
        transform: translateX(-5vw);
        padding-bottom: 2em;
        
       
    }

    #gallery:hover .boy.one {
        opacity:1;
        transform: translateX(0vw);
    
    }

    .client_block .boy.two{
        opacity:0;
        transition:all 1s linear;
        transition-delay: 0s;
        transform: translateX(-5vw);
        padding-bottom: 2em;
    }
    
    #gallery:hover .boy.two {
        opacity:1;
        transform: translateX(0vw);
    
    }
    
    

    .client_block .man1 {
        opacity:0;
        transition:all 1s linear;
        transition-delay: 0.8s;
        transform: translateX(5vw);
       
        
    }

    #gallery:hover .man1 {
        opacity:1;
        transform: translateX(0vw);
            
    }
    

    .client_block .guy {
        opacity:0;
        transition:all 1s linear;
        transition-delay: 0.8s;
        transform: translateX(5vw); 
        
        
    }

    #gallery:hover .guy {
        opacity:1;
        transform: translateX(0vw);
            
    }
    .client_block .man2_smiles {
        opacity:0;
        transition:all 1s linear;
        transition-delay: 1.6s;
        transform: translateX(-5vw); 

    }

    #gallery:hover .man2_smiles {
        opacity:1;
        transform: translateX(0vw);
            
    }
    
    .client_block .man2 {
        opacity:0;
        transition:all 1s linear;
        transition-delay: 1.6s;
        transform: translateX(-5vw);    
    }

    #gallery:hover .man2 {
        opacity:1;
        transform: translateX(0vw);
            
    }
    #rigth, #left {
        margin:0;

    }


    #services {
        height: max-content;
        

    }

    .service_block {
        display:flex;
        flex-direction:column;
        align-items: center;
        align-content:center;
        box-sizing: content-box;
        height: max-content;
        overflow:hidden;
        
    }


    .service_block .scissors {
        order:1;
        margin-left: 0;
    }
    .service_block2 {
        order:2;
        margin:-1em auto 6em auto;
    }

    


    #team {
        height: max-content;


    }

    .staff_block {
        display:flex;
        flex-direction: row;
        justify-content: center;
        justify-items:center;
        align-items: center;
        align-content: center;
        flex-wrap:wrap;
        margin-bottom: 3rem;
        gap: 0.5%;
        box-sizing: content-box;
        padding-bottom: 1.5rem;
        
    
    
    }
    .staff_block .card:hover::after {
        content:none;
    }


    .staff_block {
        justify-content: center;
        justify-items: center;
        gap: 5%;
        height: max-content;
    }


    .staff_block .break {
        display: block;
        height:0;
        width: 100%;
    }

    .staff_block .card  {
       
        margin-bottom:4rem;
        
        
    }

   

    .staff_block .card:active::after {
        content:'';
        background: rgba(163, 83, 10, 0.7);
        font-family: 'Volkhov', serif;
        font-weight: 400;
        font-size: 48px;
        padding-top: 9%;
        padding-bottom: 9%;
        text-align: center;
        max-width: 100%;
        display: inline-block;
        color: #FFFAFA;
        z-index: 2;
        width: 100%;
        position: relative;
        top:80%;
        border-radius: 0 0 40px 40px;
        animation: appear 4s ease-out 0s infinite normal none;

    }

    

    @keyframes appear {
     from {
         opacity: 0;
         } to 
         { 
            opacity: 1;
         }   
        }

    

    
    .staff_block .meredith:active::after{
        content:'Meredith';
        
    }
    
    .staff_block .jason:active::after{
        content:'Jason';
        padding-top: 9.5%;
        padding-bottom: 9.5%;
    }
    
    .staff_block .ryan:active::after{
        content:'Ryan';
    }
    
    .staff_block .james:active::after{
        content:'James';
        padding-top: 9.2%;
        padding-bottom: 9.2%;
    }



    .contact_block .contact {
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap:2rem;
        margin: 0 auto;
    
    }

    .contact_block  {
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap:2rem;
        margin: 0 auto;
    
    }

   

    .contact_block .message {
        width:120%;
        max-width:200%;

    }
    .contact_block input[type="text"]:not(#three),input[type="email"] {
        width:calc(100%/2 - 1em);
        box-sizing: content-box;
        padding:0.3em;
         
         
     
     }
   
    #contact:hover .contact1{
        opacity:1;
    }

    .contact_block .map {
        opacity:0;
        order: 3;
        transition: all 2s ease 3s;
    }

    #contact:hover .map{
        opacity:1;
    }

    .contact_block .footer {
        opacity:0;
        order: 2;
        transition: all 2s ease 2s;

    }

    #contact:hover .footer{
        opacity:1;
    }



   
    .contact_block .form {
        gap: 1.3em;
    
    }

    .message {
        order: 1;
        max-width: 100%;
        min-width: 50%;
        opacity: 0;
        transition: all 2s ease 1s;
        align-self: center;
        
    }

    .form {
        margin: 0 auto;


    }
   
    #contact:hover .message{
        opacity:1;
    }


    }




@media screen and (min-width:1620px){
    

    .client_block,.service_block,.staff_block,.contact_block {
        
        margin-left: auto;
        margin-right:auto;
    }


    .client_block {
        width: 100%;
        max-width: none;
    }


}
