html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

.body{
    background-color: rgb(244, 240, 240);
    text-transform:uppercase;
    text-align: center;
    padding:4em;
    color: chocolate;
    cursor: pointer;
}

.top-header {
    color: rgb(14, 13, 13);
    background-color: rgb(239, 235, 235);
    font-weight: 700;
    padding: 0.5rem;
    margin: 1rem 0rem;
    border-width: 5px;
    border-color: rgba(230, 227, 227, 0.967);
    border-style: solid;
}

.header-nav {
    background-color: hsl(215, 61%, 90%);
    padding: 0.5rem;
    margin-top: 0.5rem;
    color: hsl(218, 60%, 46%);
    border-width: 3px;
    border-color: hsl(215, 63%, 84%);
    border-style: solid;
}



main {
    display: flex;
    justify-content: space-between;
}

main > section:first-child{
    color: rgb(14, 13, 13);
    width: 55%;
    background-color: rgb(239, 235, 235);
    border-width: 5px;
    border-color: rgba(230, 227, 227, 0.967);
    border-style: solid;
    padding-top: 0.5rem;
}

main > section:last-child{
    color: rgb(14, 13, 13);
    padding-top: 0.5rem;
    width: 40%;
    background-color: rgb(239, 235, 235);
    border-width: 5px;
    border-color: rgba(230, 227, 227, 0.967);
    border-style: solid;
}



main > section .section-header, .nav-right, article, .footer-left {
    background-color: hsl(215, 61%, 90%);
    padding: 0.5rem;
    margin: 0.5rem;
    color: hsl(218, 60%, 46%);
    border-width: 3px;
    border-color: hsl(215, 63%, 84%);
    border-style: solid;
}
main > section:last-child .nav-right {
    height:83.5%;
}

main > section:first-child > article .article-header, .article-p, .article-footer, .p-left, .aside-right {
    background-color:hsl(120, 24%, 91%);
    padding: 0.5rem;
    margin: 0.5rem;
    color: hsl(130, 31%, 60%);
    padding: 0.5rem;
    border-width: 3px;
    border-color: hsl(131, 30%, 75%);
    border-style: solid;

}

main > section:first-child > article .p-left {
    display: inline-block;
    width: 47%;
    box-sizing: border-box;
    margin: 0.5rem 0.5% 0.5rem 0;
}
main > section:first-child > article .aside-right{
    display: inline-block;
    box-sizing: border-box;
    width: 47%;
    margin: 0.5rem 0 0.5rem 0.5%;
}

.bottom-footer {
    padding: 0.5rem;
    margin: 1rem 0rem;
    color: rgb(14, 13, 13);
    background-color: rgb(239, 235, 235);
    font-weight: 700;
    border-width: 5px;
    border-color: rgba(230, 227, 227, 0.967);
    border-style: solid;

}


