

body {
    background: #E5E5E5;
    padding:1em;
    font-family: 'Public Sans';
}

h1 {
    font-family: 'Public Sans';
    font-weight: 700;
    font-size: 1.5em;
}

h2 {
    font-family: 'Public Sans';
    font-weight: 700;
    font-size: 1.25em;
}

hr {
    border: 1px solid #D1D1D1;
}
.red {
    color:rgb(255,0,0);

}

#app2, #search1 {

    color:#0050D8;
}

.chapter{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5em;
    width:100%;
    
}

.part {
    width:48%;
}

p label {
    display: inline-block;
    font-weight: 500;
    font-size: 1em;
    padding:0;
    margin-bottom:0.7em;
}



input, select {
    font-weight: 400;
    font-size: 1em;
}

select, input:not(input[type="checkbox"],input[type="date"], input[type="search"],input[type="submit"] )  {
    border: 1px solid #ADADAD;
    border-radius: 4px;

}

select, input:not(input[type="checkbox"], input[type="submit"]) {
    box-sizing: border-box;
    width:100%;
    padding:0.5em;

}

input[type="date"], input[type="number"] {
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 16px;
    color: #171717;
}

#checker {
    margin-top:8em;
    margin-bottom:2em;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}
  
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color:#FFFFFF;
    border: 1px solid #ADADAD;
    border-radius: 2px;

}
  
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.container input:checked ~ .checkmark {
    background-color:  #FF00FF;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container input:checked ~ .checkmark:after {
    display: block;
}
  
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}


#date2, #date3 {
    background-color: #EFEFEF;


}

.date {
    border: 1px solid #ccc;
    display: inline-flex;
    width: 100%;
    background-color: #fff;
    margin-top: -1rem;
    border: 1px solid #ADADAD;
    border-radius: 4px;

}

input[type="date"] {
    border: none;
    outline: none;
  }

input[type="date"]:focus {
    border: none;
    outline: none;
  }

.date-icon {
    width: 20px;
    height: 20px;
    margin: auto 0.5em;
    background-color: #fff;
    cursor: pointer;
    
}

.gr {
    background-color: #EFEFEF;
    
}


input[type="date"]:before {
    color: lightgrey;
    content: attr(placeholder) !important;
    margin-right: 0.5em;
  }


.search{
    border: 1px solid #ccc;
    display: inline-flex;
    width: 100%;
    background-color: #fff;
    margin-top: -1rem;
}

input[type="search"] {
    border: none;
    outline: none;
}

input[type="search"]:focus {
    border: none;
    outline: none;
  }

.search-icon {
    width: 20px;
    height: 20px;
    margin: auto 0.5em;
    background-color: #fff;
    cursor:pointer;
}



.btn {
    text-align: right;
} 
    
button {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #0050D8;
    color: #fff;
    padding: 1em 1.5em;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}


/*
<style>
            input[name="one"]{
                display: none;
            }

            input[name="one"] + label > span:first-of-type {
                width: 10px;
                height: 10px;
                display: inline-block;
                border: 1px solid black;
                border-radius: 50%;
            }

            input[name="one"]:checked + label > span:first-of-type {
                background-color: green;
            }
        </style>
*/
