header {
    height: auto;
    background: #202846;
    display: flex;
    justify-content:space-between;
}

header div img {
    margin: 0.6em 0em 0.6em 9em;
    border-radius: 2%;
}

header ul li {
    display:block;
    
}
header ul {
    align-self: flex-end;
    box-sizing: content-box;
    display: flex;
    justify-content:space-around;
    width: 70%;
    align-items:center;
}

header ul li {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5 em;
    color:white;
}


header ul li:last-child {
    display: flex;
    justify-content:space-around;
    box-sizing: content-box; 
}

header ul li img {
    padding-right: 20%;
}

header ul li span{
    display:block;
    position: relative;
    padding-top:20%;
    padding-right:20%;
}

.title {
    font: 'PT Sans',sans-serif;
    font-size: 3em;
    font-style: italic;
    color: #202846;
    background: #C6C6DC;
    height: auto;
    padding: 1em 0em 1em 4em;
}

.book {
    padding:4em 10em 10em 10em;
    background: #E8E8E8;
    position:relative;
    overflow: hidden;
    z-index: 3;

}
.choose {
    background: #F5F5F5;
    height:4.5em;
    margin-bottom:4em;
    position:relative;
    display:inline-block;
    width:100%;
}

.choose span {
    color: #0000009C;
    font-family: PT Sans;
    font-size: 1.75em;
    display:block;
    position: relative;
    width:fit-content;
    margin: 0 auto;
    padding: 0.5em;

}

.sel {
    /*background-image:(img/Polygon 1.png);*/
    position:absolute;
    right: 2%;
    top: 2em;
    
}

select {
    width: 170px;  
    appearance: none; 
    overflow: hidden;
    background: url('../img/Polygon 1.png') no-repeat right;
    border: none;
    cursor: pointer;
    box-sizing: content-box;
}



.card {
    background: #BDBDC6;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2em;
    display: flex;
    gap: 1em;
    padding: 1em 1em 0em 6em;
    position:relative;
    z-index: 1;

}


.card img {
    vertical-align: middle;
    height:fit-content;
    margin:auto;
   
}

.description {
    margin-left: 6em;

    }

h1 {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    color: #353C57;
}

p {
  background: #D7D7DD;
  font-family: 'PT Sans';
  font-size: 22px;
  color: #202846;
  padding: 1em;
  text-align: center;

}

hr {
    border: 3px solid #FFFFFF;

}

button {
    display:block;
    position: absolute;
    box-sizing: border-box;
    background: #202846;
    font-family: PT Sans;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 200;
    text-align: center;
    border-radius: 100px;
    cursor: pointer;
    padding:0.7em 2em 0.7em 2em;
    transition: 0.2s;
    z-index: 2;
    float:right;
    right: -2em;
    bottom: 0.2em;
}

button:hover {
    background: #EF075B;
   } 
.card:hover {
    background: #AEAEE2;
}
.star svg:hover * {
   fill: #FFFF00;

}


#arrow-up {
    background: rgba(85, 87, 104, 0.62);
    border-radius: 50%;
    padding: 1em 2em;
    float:right;
    box-sizing: border-box;
    bottom: 100px;
    right: -10px;
    z-index: 4;
    
}

